{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://adminmanagement.local.azurestack.external/"
        }
    ],
    "info": {
        "description": "The Admin Subscriptions Management Client.",
        "title": "SubscriptionsManagementClient",
        "version": "2015-11-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/DelegatedProviderOffer.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "azsadmin-DelegatedProviderOffer",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers": {
            "get": {
                "description": "Get the list of delegated provider offers.",
                "operationId": "DelegatedProviderOffers_List",
                "parameters": [
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Delegated provider subscription identifier.",
                        "in": "path",
                        "name": "delegatedProviderSubscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-11-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of delegated provider offers.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Continuation token",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "Array of delegated provider offers.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "Base Resource Object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "URI of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Location of the resource",
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "description": "Name of the resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "List of key-value pairs.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "description": "Type of resource.",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-ms-azure-resource": true
                                                    }
                                                ],
                                                "description": "The delegated provider offer.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "Properties for an delegated provider.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "accessibilityState": {
                                                                "description": "Offer accessibility state.",
                                                                "enum": [
                                                                    "Private",
                                                                    "Public",
                                                                    "Decommissioned"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "AccessibilityState",
                                                                    "values": [
                                                                        {
                                                                            "description": "The offer or plan is private. Only an Admin can see and manage it.",
                                                                            "name": "Private",
                                                                            "value": "Private"
                                                                        },
                                                                        {
                                                                            "description": "The offer or plan is public. Users can see and self-subscribe to it.",
                                                                            "name": "Public",
                                                                            "value": "Public"
                                                                        },
                                                                        {
                                                                            "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
                                                                            "name": "Decommissioned",
                                                                            "value": "Decommissioned"
                                                                        }
                                                                    ]
                                                                }
                                                            },
                                                            "delegatedOfferId": {
                                                                "description": "The delegated offer identifier.",
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "description": "Description of offer.",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "Display name of offer.",
                                                                "type": "string"
                                                            },
                                                            "externalReferenceId": {
                                                                "description": "External reference identifier.",
                                                                "type": "string"
                                                            },
                                                            "subscriptionCount": {
                                                                "description": "Current subscription count.",
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "DelegatedProviderOffers"
                ],
                "x-ms-examples": {
                    "Get the list of delegated provider offers.": {
                        "parameters": {
                            "api-version": "2015-11-01",
                            "delegatedProviderSubscriptionId": "8ab2551d-41e5-489b-9273-1cdf1cbc7dc6",
                            "subscriptionId": "8ab2551d-41e5-489b-9273-1cdf1cbc7dc6"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/providers/Microsoft.Subscriptions.Admin/delegatedProviders/8bb14c82-7b09-40f4-ade3-e5c71308cfcd/offers/del1",
                                            "location": "local",
                                            "name": "8bb14c82-7b09-40f4-ade3-e5c71308cfcd/del1",
                                            "properties": {
                                                "accessibilityState": "Private",
                                                "delegatedOfferId": "/subscriptions/8bb14c82-7b09-40f4-ade3-e5c71308cfcd/providers/Microsoft.Subscriptions/delegatedOffers/TestOffer-0440a67b-3b55-45aa-8fc4-e3b6246186e7c45bf",
                                                "displayName": "Del1",
                                                "subscriptionCount": 0
                                            },
                                            "type": "Microsoft.Subscriptions.Admin/delegatedProviders/offers"
                                        },
                                        {
                                            "id": "/subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/providers/Microsoft.Subscriptions.Admin/delegatedProviders/8bb14c82-7b09-40f4-ade3-e5c71308cfcd/offers/del2",
                                            "location": "local",
                                            "name": "8bb14c82-7b09-40f4-ade3-e5c71308cfcd/del2",
                                            "properties": {
                                                "accessibilityState": "Private",
                                                "delegatedOfferId": "/subscriptions/8bb14c82-7b09-40f4-ade3-e5c71308cfcd/providers/Microsoft.Subscriptions/delegatedOffers/TestOffer-0440a67b-3b55-45aa-8fc4-e3b6246186e7c45be",
                                                "displayName": "Del2",
                                                "subscriptionCount": 0
                                            },
                                            "type": "Microsoft.Subscriptions.Admin/delegatedProviders/offers"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/delegatedProviders/{delegatedProviderSubscriptionId}/offers/{offer}": {
            "get": {
                "description": "Get the specified delegated provider offer.",
                "operationId": "DelegatedProviderOffers_Get",
                "parameters": [
                    {
                        "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Delegated provider subscription identifier.",
                        "in": "path",
                        "name": "delegatedProviderSubscriptionId",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of an offer.",
                        "in": "path",
                        "name": "offer",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "2015-11-01"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "Base Resource Object",
                                            "properties": {
                                                "id": {
                                                    "description": "URI of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Location of the resource",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "Name of the resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "List of key-value pairs.",
                                                    "readOnly": true,
                                                    "type": "object"
                                                },
                                                "type": {
                                                    "description": "Type of resource.",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object",
                                            "x-ms-azure-resource": true
                                        }
                                    ],
                                    "description": "The delegated provider offer.",
                                    "properties": {
                                        "properties": {
                                            "description": "Properties for an delegated provider.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "accessibilityState": {
                                                    "description": "Offer accessibility state.",
                                                    "enum": [
                                                        "Private",
                                                        "Public",
                                                        "Decommissioned"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "AccessibilityState",
                                                        "values": [
                                                            {
                                                                "description": "The offer or plan is private. Only an Admin can see and manage it.",
                                                                "name": "Private",
                                                                "value": "Private"
                                                            },
                                                            {
                                                                "description": "The offer or plan is public. Users can see and self-subscribe to it.",
                                                                "name": "Public",
                                                                "value": "Public"
                                                            },
                                                            {
                                                                "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
                                                                "name": "Decommissioned",
                                                                "value": "Decommissioned"
                                                            }
                                                        ]
                                                    }
                                                },
                                                "delegatedOfferId": {
                                                    "description": "The delegated offer identifier.",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "Description of offer.",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "Display name of offer.",
                                                    "type": "string"
                                                },
                                                "externalReferenceId": {
                                                    "description": "External reference identifier.",
                                                    "type": "string"
                                                },
                                                "subscriptionCount": {
                                                    "description": "Current subscription count.",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "DelegatedProviderOffers"
                ],
                "x-ms-examples": {
                    "Get the specified delegated provider offer.": {
                        "parameters": {
                            "api-version": "2015-11-01",
                            "delegatedProviderSubscriptionId": "8ab2551d-41e5-489b-9273-1cdf1cbc7dc6",
                            "offer": "Del1",
                            "subscriptionId": "8ab2551d-41e5-489b-9273-1cdf1cbc7dc6"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/36a6bf33-6df4-4acd-a30e-7b92c1c7b322/providers/Microsoft.Subscriptions.Admin/delegatedProviders/8bb14c82-7b09-40f4-ade3-e5c71308cfcd/offers/del1",
                                    "location": "local",
                                    "name": "8bb14c82-7b09-40f4-ade3-e5c71308cfcd/del1",
                                    "properties": {
                                        "accessibilityState": "Private",
                                        "delegatedOfferId": "/subscriptions/8bb14c82-7b09-40f4-ade3-e5c71308cfcd/providers/Microsoft.Subscriptions/delegatedOffers/TestOffer-0440a67b-3b55-45aa-8fc4-e3b6246186e7c45bf",
                                        "displayName": "Del1",
                                        "subscriptionCount": 0
                                    },
                                    "type": "Microsoft.Subscriptions.Admin/delegatedProviders/offers"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AccessibilityState": {
                "description": "Represents the state of the offer",
                "enum": [
                    "Private",
                    "Public",
                    "Decommissioned"
                ],
                "type": "string",
                "x-ms-enum": {
                    "modelAsString": true,
                    "name": "AccessibilityState",
                    "values": [
                        {
                            "description": "The offer or plan is private. Only an Admin can see and manage it.",
                            "name": "Private",
                            "value": "Private"
                        },
                        {
                            "description": "The offer or plan is public. Users can see and self-subscribe to it.",
                            "name": "Public",
                            "value": "Public"
                        },
                        {
                            "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
                            "name": "Decommissioned",
                            "value": "Decommissioned"
                        }
                    ]
                }
            },
            "DelegatedProviderOffer": {
                "allOf": [
                    {
                        "description": "Base Resource Object",
                        "properties": {
                            "id": {
                                "description": "URI of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "location": {
                                "description": "Location of the resource",
                                "type": "string"
                            },
                            "name": {
                                "description": "Name of the resource.",
                                "readOnly": true,
                                "type": "string"
                            },
                            "tags": {
                                "additionalProperties": {
                                    "type": "string"
                                },
                                "description": "List of key-value pairs.",
                                "readOnly": true,
                                "type": "object"
                            },
                            "type": {
                                "description": "Type of resource.",
                                "readOnly": true,
                                "type": "string"
                            }
                        },
                        "type": "object",
                        "x-ms-azure-resource": true
                    }
                ],
                "description": "The delegated provider offer.",
                "properties": {
                    "properties": {
                        "description": "Properties for an delegated provider.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "accessibilityState": {
                                "description": "Offer accessibility state.",
                                "enum": [
                                    "Private",
                                    "Public",
                                    "Decommissioned"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "AccessibilityState",
                                    "values": [
                                        {
                                            "description": "The offer or plan is private. Only an Admin can see and manage it.",
                                            "name": "Private",
                                            "value": "Private"
                                        },
                                        {
                                            "description": "The offer or plan is public. Users can see and self-subscribe to it.",
                                            "name": "Public",
                                            "value": "Public"
                                        },
                                        {
                                            "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
                                            "name": "Decommissioned",
                                            "value": "Decommissioned"
                                        }
                                    ]
                                }
                            },
                            "delegatedOfferId": {
                                "description": "The delegated offer identifier.",
                                "type": "string"
                            },
                            "description": {
                                "description": "Description of offer.",
                                "type": "string"
                            },
                            "displayName": {
                                "description": "Display name of offer.",
                                "type": "string"
                            },
                            "externalReferenceId": {
                                "description": "External reference identifier.",
                                "type": "string"
                            },
                            "subscriptionCount": {
                                "description": "Current subscription count.",
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "DelegatedProviderOfferList": {
                "description": "List of delegated provider offers.",
                "properties": {
                    "nextLink": {
                        "description": "Continuation token",
                        "type": "string"
                    },
                    "value": {
                        "description": "Array of delegated provider offers.",
                        "items": {
                            "allOf": [
                                {
                                    "description": "Base Resource Object",
                                    "properties": {
                                        "id": {
                                            "description": "URI of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "location": {
                                            "description": "Location of the resource",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Name of the resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "tags": {
                                            "additionalProperties": {
                                                "type": "string"
                                            },
                                            "description": "List of key-value pairs.",
                                            "readOnly": true,
                                            "type": "object"
                                        },
                                        "type": {
                                            "description": "Type of resource.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object",
                                    "x-ms-azure-resource": true
                                }
                            ],
                            "description": "The delegated provider offer.",
                            "properties": {
                                "properties": {
                                    "description": "Properties for an delegated provider.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "accessibilityState": {
                                            "description": "Offer accessibility state.",
                                            "enum": [
                                                "Private",
                                                "Public",
                                                "Decommissioned"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "AccessibilityState",
                                                "values": [
                                                    {
                                                        "description": "The offer or plan is private. Only an Admin can see and manage it.",
                                                        "name": "Private",
                                                        "value": "Private"
                                                    },
                                                    {
                                                        "description": "The offer or plan is public. Users can see and self-subscribe to it.",
                                                        "name": "Public",
                                                        "value": "Public"
                                                    },
                                                    {
                                                        "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
                                                        "name": "Decommissioned",
                                                        "value": "Decommissioned"
                                                    }
                                                ]
                                            }
                                        },
                                        "delegatedOfferId": {
                                            "description": "The delegated offer identifier.",
                                            "type": "string"
                                        },
                                        "description": {
                                            "description": "Description of offer.",
                                            "type": "string"
                                        },
                                        "displayName": {
                                            "description": "Display name of offer.",
                                            "type": "string"
                                        },
                                        "externalReferenceId": {
                                            "description": "External reference identifier.",
                                            "type": "string"
                                        },
                                        "subscriptionCount": {
                                            "description": "Current subscription count.",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "DelegatedProviderOfferProperties": {
                "description": "Properties for an delegated provider.",
                "properties": {
                    "accessibilityState": {
                        "description": "Offer accessibility state.",
                        "enum": [
                            "Private",
                            "Public",
                            "Decommissioned"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "AccessibilityState",
                            "values": [
                                {
                                    "description": "The offer or plan is private. Only an Admin can see and manage it.",
                                    "name": "Private",
                                    "value": "Private"
                                },
                                {
                                    "description": "The offer or plan is public. Users can see and self-subscribe to it.",
                                    "name": "Public",
                                    "value": "Public"
                                },
                                {
                                    "description": "The offer or plan is decommissioned. Current subscriptions can still consume it but new subscriptions cannot.",
                                    "name": "Decommissioned",
                                    "value": "Decommissioned"
                                }
                            ]
                        }
                    },
                    "delegatedOfferId": {
                        "description": "The delegated offer identifier.",
                        "type": "string"
                    },
                    "description": {
                        "description": "Description of offer.",
                        "type": "string"
                    },
                    "displayName": {
                        "description": "Display name of offer.",
                        "type": "string"
                    },
                    "externalReferenceId": {
                        "description": "External reference identifier.",
                        "type": "string"
                    },
                    "subscriptionCount": {
                        "description": "Current subscription count.",
                        "type": "integer"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 flow",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}